/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"); */
@import "../../public/fonts/articulat/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: hsla(197, 60%, 35%, 1); /* #236f8e */
  --light-primary-1: hsl(187 79% 95%); /* #edfafe */
  --light-primary-2: hsl(191 76% 85%); /* #b8e9f9 */
  --black: hsl(233 39% 14%); /* #161a32 */
  --black-2: hsl(223 96% 11%); /* #021637 */
  --light-grey: hsl(200 17% 95%); /* #f3f5f6 */
  --dark-grey: hsl(216 10% 54%); /* #7c8697 */
  --dark-grey-1: hsl(198 32% 84%); /* #cad7dc */
  --dark-grey-2: hsl(216 10% 55%); /* #7c8698 */
  --secondary: hsl(193 84% 50%); /* #13b5ea */
  --dark-secondary: hsl(233 39% 14%); /* #161a32 */
  --red-light-1: hsl(1 90% 78%); /* #fb9596 */
  --red-state-color: hsl(4 82% 60%); /* #ec514b */
  --green-state-color: hsl(153 63% 48%); /* #29c483 */
  --yellow-state-color: hsl(40 86% 60%); /* #f2af42 */
  --light-blue: hsl(187 78% 95%); /* #eefafe */
  --F5F5F5: hsl(0 0% 96%); /* #f5f5f5 */
  --F9F9F9: hsl(0 0% 98%); /* #f9f9f9 */
  --Lapis-Blue-Primary-Light-2: hsl(204 31% 58%); /* #70a1b6 */
  --Cultured-Secondary-Dark-4: hsl(0 0% 33%); /* #555556 */
  --Cultured-Secondary-Dark-5: hsl(0 0% 25%); /* #3e3f3f */
  --text-black: hsl(231 44% 20%); /* #1B2149 */
  --bg-red-state-color-fill: #fef8f8;
  --F9F9F9: hsl(0 0% 97.8%); /* #F9F9F9 */
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: Articulat, sans-serif;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
@layer utilities {
  .card_bg {
    background: url("/images/card.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: inherit;
  }
}
@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 3.9%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(0 0% 3.9%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(0 0% 3.9%);
    --primary: hsl(0 0% 9%);
    --primary-foreground: hsl(0 0% 98%);
    --secondary: hsl(0 0% 96.1%);
    --secondary-foreground: hsl(0 0% 9%);
    --muted: hsl(0 0% 96.1%);
    --muted-foreground: hsl(0 0% 45.1%);
    --accent: hsl(0 0% 96.1%);
    --accent-foreground: hsl(0 0% 9%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(0 0% 89.8%);
    /* --input: hsl(198 32% 84%; 0 0% 89.8%; */
    --input: hsl(198 32% 84%);
    --ring: hsl(0 0% 3.9%);
    --chart-1: hsl(12 76% 61%);
    --chart-2: hsl(173 58% 39%);
    --chart-3: hsl(197 37% 24%);
    --chart-4: hsl(43 74% 66%);
    --chart-5: hsl(27 87% 67%);
    --radius: 0.5rem;
  }
  .dark {
    --background: hsl(0 0% 3.9%);
    --foreground: hsl(0 0% 98%);
    --card: hsl(0 0% 3.9%);
    --card-foreground: hsl(0 0% 98%);
    --popover: hsl(0 0% 3.9%);
    --popover-foreground: hsl(0 0% 98%);
    --primary: hsl(0 0% 98%);
    --primary-foreground: hsl(0 0% 9%);
    --secondary: hsl(0 0% 14.9%);
    --secondary-foreground: hsl(0 0% 98%);
    --muted: hsl(0 0% 14.9%);
    --muted-foreground: hsl(0 0% 63.9%);
    --accent: hsl(0 0% 14.9%);
    --accent-foreground: hsl(0 0% 98%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(0 0% 14.9%);
    --input: hsl(0 0% 14.9%);
    --ring: hsl(0 0% 83.1%);
    --chart-1: hsl(220 70% 50%);
    --chart-2: hsl(160 60% 45%);
    --chart-3: hsl(30 80% 55%);
    --chart-4: hsl(280 65% 60%);
    --chart-5: hsl(340 75% 55%);
  }
}

@layer components {
  .ProseMirror {
    @apply outline-none whitespace-pre-wrap py-0;
  }
  .label {
    @apply text-sm text-dark-secondary font-normal;
  }
  .header {
    @apply font-bold text-xl sm:text-[2.5rem] text-center leading-normal text-dark-secondary;
  }
  .sub_header {
    @apply font-normal leading-normal text-base text-center text-light-grey;
  }
  .form__error {
    @apply text-xs text-destructive font-medium mt-1.5;
  }
  .p-top {
    @apply pt-[90px] md:pt-[100px];
  }
  .paper {
    @apply rounded-30 bg-white shadow-sm w-full;
  }
  .container-w {
    @apply px-4 max-w-[1440px] w-full mx-auto pt-8 pb-8;
  }
}

.waitlist_tasker_banner {
  background: url("/images/banner_img_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  /* background-blend-mode: color-burn, normal; */
}

.wrp {
  display: grid;
  grid-column-gap: 24px;
  /* grid-row-gap: 24px; */
  grid-template-columns: repeat(4, minmax(0, 1fr));
  align-items: start;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.image_clip {
  /* clipPath: polygon(60% 0, 83% 0, 100% 34%, 100% 67%, 23% 100%, 0 71%, 0 36%); */
  clip-path: polygon(
    50% 0,
    80% 0,
    100% 32%,
    100% 62%,
    51% 100%,
    20% 100%,
    0 68%,
    0 38%
  );
}

@media (max-width: 768px) {
  .image_clip {
    clip-path: none; /* Reverts to rectangular shape */
  }
}

.poster_popular_categories a:nth-child(1) {
  grid-area: 1 / 1 / span 2 / span 3;
}
.poster_popular_categories a:nth-child(2) {
  grid-area: 1 / 4 / 2 / span 4;
}

.poster_popular_categories a:nth-child(3) {
  grid-area: 1 / 8 / 2 / span 2;
}
.poster_popular_categories a:nth-child(4) {
  grid-area: 1 / 10 / 1 / span 3;
}
.poster_popular_categories a:nth-child(5) {
  grid-area: 2 / 4 / 2 / span 3;
}
.poster_popular_categories a:nth-child(6) {
  grid-area: 2 / 7 / 2 / span 3;
}
.poster_popular_categories a:nth-child(7) {
  grid-area: 2 / 10 / 2 / span 3;
}

.ql-editor {
  min-height: 200px;
  font-size: 16px;
}
.leaflet-pane {
  width: 100% !important;
}

.popup {
  font-family: Articulat !important;
}

.leaflet-popup-content p {
  margin: 0 !important;
}
.leaflet-popup-content-wrapper {
  border-radius: 20px !important;
  background-color: white;
  width: 100% !important;
}
.leaflet-popup-content {
  margin: 0 !important;
  padding: 15px;
  max-width: 300px !important;
  width: 100% !important;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.prose p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
